@page
@model WebApplication1.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">
    <div>Name : <input asp-for="Customer.Name"/></div>
    <input type="submit"/>
</form>
